* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* Do đang thiết lập 1rem = 10px */
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #0F1B4C;
}

/* ==========Common========= */
.content {
    /* Khi mở full màn hình thì 1110px sẽ nhỏ hơn kích thước tối đa trình duyệt
    nhưng khi trình duyệt bị co nhỏ lại mà ta vẫn dùng width: 1110px như thế thì sẽ
    bị mất nội dung bên phải. Do đó sẽ dùng thêm kích thước tối đa của content header là
    100%. Và sẽ để 2 bên cách ra 24px nên sẽ -48px. Khi dùng margin: auto thì nó sẽ tự
    động căn giữa lại*/
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    /* Do hầu hết thẻ a không có gạch chân nên dùng chung luôn */
    text-decoration: none;
}

.btn {
    /*  */
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #FFFFFF;
    padding: 18px 16px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.row {
    display: flex;
    justify-content: space-between;
}

.line-clamp {
    /* Chỉ chấp nhận số dòng <=2 */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* =================Header================= */
.header {
    /* Dựa vào preview của  trang web thì thấy phần header dường như full
    màn hình nên sẽ đặt là 100vh chứ không đặt fix cứng height*/
    position: relative;
    background: #E6F0FF;
    height: 100vh;
}


/* =================Nav================= */
.navbar {
    display: flex;
    align-items: center;
    /* Dùng margin-top thì bị margin-collapse nên dùng padding-top
    Dùng padding-top trong trường hợp này ổn vì navbar có background kế thừa từ 
    background */
    padding-top: 38px;
}

.navbar .navigation {
    display: flex;
    /* Không nên dùng display: inline-block; cho các thẻ li vì nó tạo ra các khoảng
    trắng do dấu xuống hàng */
}

.navbar .action {
    /* Để các nút sign-in, sign-up nằm sát bên phải */
    margin-left: auto;
}

.navbar ul {
    /* Khoảng cách giữa logo và Home là 64px nhưng đã Home đã có đệm trái 14px rồi
    nên giờ marin-left chỉ còn 50px thôi */
    margin-left: 50px;
}

.navbar ul a {
    color: #4F5361;
    font-size: 1.4rem;
    font-weight: 500;
    /* Chủ yếu tăng khoảng cách giữa các thẻ a và tăng vùng khi rê chuột vào
    nên không cần dùng display: inline-block; cũng được */
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline rgb(135, 187, 234) 3px;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 18px;
}

.navbar .action-btn {
    padding: 13px 16px;
    border-radius: 8px;
}

/* ==============Hero========== */
.hero {
    /* margin-top ở đây không bị margin-collapse, ở nav mới bị */
    margin-top: 130px;
}

.hero .info {
    /* Không dùng width: 559px như mẫu thiết kế mà quy về % */
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    /* 27px sẽ là 1.5 của font-size */
    line-height: 1.5;
    /* 0.01em sẽ tính theo font-size tức là 0.01*18 = 0.18px */
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 8px;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 76px;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78em;
    color: #5A6473;
}

.hero .hero-cta {
    margin-top: 40px;
    min-width: 170px;
    font-size: 1.3rem;
}

.hero .hero-img {
    /* Ảnh này ở sát dưới bottom của header nên sẽ
    căn chỉnh vị trí nó theo header. Do đó cho position: absolute vào .hero-img
    và position: relative vào header */
    position: absolute;

    /* Tính toán lại right chứ không để right fix cứng là 65px vì tùy vào màn hình mà độ rộng to nhỏ khác nhau
    Nếu ta dùng right: 65px thì khi màn hình rộng hơn thì bức hình do có right: 65px nên sẽ bị dịch ra bên phải
    Và ta dùng 1110px mà không dùng 100% là 100% lúc này là chiều rộng của thẻ mà .hero-img đang phụ thuộc, tức là thẻ header
    Mà thẻ header lại không có được set width nên 100% lúc này sẽ là chiều rộng của thẻ header
    */
    right: calc((100vw - 1110px) /2 - 100px);
    bottom: 0;
}

/* ============ Clients ================ */
.clients {
    margin-top: 122px;
}

.clients .row-second {
    margin-top: 23px;
}

.clients .desc {
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.clients .images {
    margin-top: 70px;
    align-items: center;
}

/* ============Guides================ */
.guides {
    margin-top: 200px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    /* Để canh before tương đối so với sub-title */
    position: absolute;
    top: -10px;

    /* 50% này là 50% chiều rộng thẻ cha chứa nó có position: relative */
    left: 50%;

    /* -50% này là 50% kích thước của nó */
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

/* =========== List guides =============== */
.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.list-guide .guide-item {
    margin: 0 70px;
    /* Lúc này sẽ căn giữa được thẻ con bên trong nó */
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    /* Nó đã thừa kế text-align: center; */
    color: #3B3C45;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.guide-item .link {
    /* Đây là thẻ a nên display: inline-block để margin-top có tác dụng*/
    display: inline-block;
    margin-top: 10px;
    color: #0689FF;
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guides .guide-cta {
    margin-top: 50px;
    text-align: center;
}

.guide-cta .btn {
    min-width: 170px;
    font-size: 1.3rem;
}

/* ==================== Features =================== */
.feature {
    margin-top: 120px;
    padding: 110px 0;
    padding-bottom: 185px;
    background: #F5FAFE;
}

.feature .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.feature .desc {
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.feature .link {
    display: flex;
    align-items: center;
    color: #0689FF;
    font-size: 1.8rem;
    font-weight: 600;
}

.feature .row {
    /* Đã CSS cho class .row common ở trên */
    margin-top: 15px;
}

.feature .link .arrow {
    /* Do nội dung của span có font-size lớn nên để cho nội dung và dấu mũi tên nằm trên 1 hàng
    C1: dùng position: relative;
    top: -2px;
    Để Định vị với vị trí ban đầu của nó
    */

    /* C2: display: flex; align-items: center; vào thẻ cha */
    margin-left: 8px;
}

.feature .list {
    margin-top: 70px;
    display: flex;
    /* Tạo ra khoảng cách giữa các item là 30px */
    gap: 30px;
}

.feature .item {
    /* Để các flex-item được chia đều chiều rộng của flex-container */
    flex: 1;
    background: #FFF;
    border-radius: 12px;
}

.feature .item .thumb {
    /* Để chiều rộng của bức ảnh bằng chiều rộng của thẻ cha nên dùng width: 100% */
    width: 100%;
    height: 227px;
    /* Lấp đầy khung hình và chấp nhận mất một số phần bức ảnh */
    object-fit: cover;

    /* Trong HTML nếu thẻ con vẫn có thẻ lòi ra ngoài thẻ cha
    dù thẻ cha đã border-radius rồi */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.feature .item .body {
    padding: 17px 20px 24px;
}

.feature .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    /* Nếu sau này xuất hiện nhiều dòng thì có line-height này
    Bản thiết kế có line-height: 1 là do chỉ có 1 dòng */
    line-height: 1.5;
}

.feature .item .desc {
    margin-top: 11px;
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    word-break: break-all;
}

.feature .item .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.feature .item .label {
    margin-left: 8px;
    color: #4D4D52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.feature .item .icon {
    margin-left: 23px;
}

.feature .item .icon:first-child {
    margin-left: 0;
}

.icon+.icon {
    margin-left: 50px;
}