* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* Do đang thiết lập 1rem = 10px */
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    /* Do mỗi trình duyệt có thể khác nhau về thanh cuộn ở html,body nên đặt ở cả 2 luôn */
    scroll-behavior: smooth;
}

:root {
    --primary-color: #0F1B4C;
}

/* ==========Common========= */
.content {
    /* Khi mở full màn hình thì 1110px sẽ nhỏ hơn kích thước tối đa trình duyệt
    nhưng khi trình duyệt bị co nhỏ lại mà ta vẫn dùng width: 1110px như thế thì sẽ
    bị mất nội dung bên phải. Do đó sẽ dùng thêm kích thước tối đa của content header là
    100%. Và sẽ để 2 bên cách ra 24px nên sẽ -48px. Khi dùng margin: auto thì nó sẽ tự
    động căn giữa lại*/
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    /* Do hầu hết thẻ a không có gạch chân nên dùng chung luôn */
    text-decoration: none;
}

.btn {
    /*  */
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #FFFFFF;
    padding: 18px 16px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    /* Chỉ chấp nhận số dòng <=2 */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* =================Header================= */
.fixed-header {
    background: #E6F0FF;
    padding-top: 26px;
    position: sticky;
    top: -26px;

    /* Dùng z-index để nội dung của nó được nổi lên trên, nếu không thiết lập thì khi kéo xuống nó bị các phần tử
    khác đè lên */
    z-index: 1;
}

.hero-wrap {
    /* Thêm display: flex; vào để khi margin-top cho .hero thì không bị margin-collapse
    với thẻ cha */
    display: flex;
    /* Dùng column để tránh trường hợp nếu chứa nhiều thẻ con thì nó sẽ không bị nằm ngang */
    flex-direction: column;

    /* Dựa vào preview của  trang web thì thấy phần header dường như full
    màn hình nên sẽ đặt là 100vh chứ không đặt fix cứng height*/
    position: relative;
    background: #E6F0FF;

    /* Trừ 90px do fixed-header có chiều cao là 90px */
    height: calc(100vh - 90px);
}


/* =================Nav================= */
.navbar {
    display: flex;
    align-items: center;
    /* Dùng margin-top thì bị margin-collapse nên dùng padding-top*/
    padding: 12px 0;
}

.navbar .navigation {
    display: flex;
    /* Không nên dùng display: inline-block; cho các thẻ li vì nó tạo ra các khoảng
    trắng do dấu xuống hàng */
}

.navbar .action {
    /* Để các nút sign-in, sign-up nằm sát bên phải */
    margin-left: auto;
}

.navbar ul {
    /* Khoảng cách giữa logo và Home là 64px nhưng đã Home đã có đệm trái 14px rồi
    nên giờ marin-left chỉ còn 50px thôi */
    margin-left: 50px;
}

.navbar ul a {
    color: #4F5361;
    font-size: 1.4rem;
    font-weight: 500;
    /* Chủ yếu tăng khoảng cách giữa các thẻ a và tăng vùng khi rê chuột vào
    nên không cần dùng display: inline-block; cũng được */
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline rgb(135, 187, 234) 3px;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 18px;
}

.navbar .action-btn {
    padding: 13px 16px;
    border-radius: 8px;
}

/* ==============Hero========== */
.hero {
    /* margin-top ở đây không bị margin-collapse, ở nav mới bị */
    margin-top: 130px;
}

.hero .info {
    /* Không dùng width: 559px như mẫu thiết kế mà quy về % */
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    /* 27px sẽ là 1.5 của font-size */
    line-height: 1.5;
    /* 0.01em sẽ tính theo font-size tức là 0.01*18 = 0.18px */
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 8px;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 76px;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78em;
    color: #5A6473;
}

.hero .hero-cta {
    margin-top: 40px;
    min-width: 170px;
    font-size: 1.3rem;
}

.hero .hero-img {
    /* Ảnh này ở sát dưới bottom của header nên sẽ
    căn chỉnh vị trí nó theo hero-wrap. Do đó cho position: absolute vào .hero-img
    và position: relative vào .hero-wrap */
    position: absolute;

    /* Tính toán lại right chứ không để right fix cứng là 65px vì tùy vào màn hình mà độ rộng to nhỏ khác nhau
    Nếu ta dùng right: 65px thì khi màn hình rộng hơn thì bức hình do có right: 65px nên sẽ bị dịch ra bên phải
    Và ta dùng 1110px mà không dùng 100% là 100% lúc này là chiều rộng của thẻ mà .hero-img đang phụ thuộc, tức là thẻ header
    Mà thẻ header lại không có được set width nên 100% lúc này sẽ là chiều rộng của thẻ header
    */
    right: calc((100vw - 1110px) /2 - 100px);
    bottom: 0;
}

/* ============ Clients ================ */
.clients {
    margin-top: 79px;
    background: #fff;
    padding-top: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-second {
    margin-top: 23px;
}

.clients .desc {
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.clients .images {
    margin-top: 70px;
    align-items: center;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
}

/* ============Guides================ */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    /* Để canh before tương đối so với sub-title */
    position: absolute;
    top: -10px;

    /* 50% này là 50% chiều rộng thẻ cha chứa nó có position: relative */
    left: 50%;

    /* -50% này là 50% kích thước của nó */
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

/* =========== List guides =============== */
.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.list-guide .guide-item {
    margin: 0 70px;
    /* Lúc này sẽ căn giữa được thẻ con bên trong nó */
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    /* Nó đã thừa kế text-align: center; */
    color: #3B3C45;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.guide-item .link {
    /* Đây là thẻ a nên display: inline-block để margin-top có tác dụng*/
    display: inline-block;
    margin-top: 10px;
    color: #0689FF;
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guides .guide-cta {
    margin-top: 50px;
    text-align: center;
}

.guide-cta .btn {
    min-width: 170px;
    font-size: 1.3rem;
}

/* ==================== Features =================== */
.feature {
    margin-top: 41px;
    padding: 110px 0;
    padding-bottom: 185px;
    background: #F5FAFE;
}

.feature .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.feature .desc {
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.feature .link {
    display: flex;
    align-items: center;
    color: #0689FF;
    font-size: 1.8rem;
    font-weight: 600;
}

.feature .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.feature .link .arrow {
    /* Do nội dung của span có font-size lớn nên để cho nội dung và dấu mũi tên nằm trên 1 hàng
    C1: dùng position: relative;
    top: -2px;
    Để Định vị với vị trí ban đầu của nó
    */

    /* C2: display: flex; align-items: center; vào thẻ cha */
    margin-left: 8px;
}

.feature .list {
    margin-top: 70px;
    display: flex;
    /* Tạo ra khoảng cách giữa các item là 30px */
    gap: 30px;
}

.feature .item {
    /* Để các flex-item được chia đều chiều rộng của flex-container */
    flex: 1;
    background: #FFF;
    border-radius: 12px;
}

.feature .item .thumb {
    /* Để chiều rộng của bức ảnh bằng chiều rộng của thẻ cha nên dùng width: 100% */
    width: 100%;
    height: 227px;
    /* Lấp đầy khung hình và chấp nhận mất một số phần bức ảnh */
    object-fit: cover;

    /* Trong HTML nếu thẻ con vẫn có thẻ lòi ra ngoài thẻ cha
    dù thẻ cha đã border-radius rồi */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.feature .item .body {
    padding: 17px 20px 24px;
}

.feature .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    /* Nếu sau này xuất hiện nhiều dòng thì có line-height này
    Bản thiết kế có line-height: 1 là do chỉ có 1 dòng */
    line-height: 1.5;
}

.feature .item .desc {
    margin-top: 11px;
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    word-break: break-all;
}

.feature .item .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.feature .item .label {
    margin-left: 8px;
    color: #4D4D52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.feature .item .icon {
    margin-left: 23px;
}

.feature .item .icon:first-child {
    margin-left: 0;
}

.icon+.icon {
    margin-left: 50px;
}

/* =================== Stats ================== */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    border-radius: 12px;
    width: 400px;
    height: 460px;
    /* Để không bị méo ảnh */
    object-fit: cover;
}

.stats .row .sub-title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3;
    width: 269px;
}

.stats .row .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .row .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

/* ============ Stats trend */
.stats .img-block {
    position: relative;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
    background: #FFF;
    padding: 45px 22px 40px;
}

.stats-trend .row {
    align-items: center;
}

.stats-trend .row .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.stats-trend .desc {
    margin-top: 8px;
    width: 194px;
    color: #A7A7A7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.stats-trend .row .icon {
    width: 25px;
    height: 18px;
    object-fit: contain;
    margin-left: auto;
}

.stats-trend .seperate {
    margin-top: 25px;
    height: 1.2px;
    background: #E9E9E9;
}

/* Khối avatar */
.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar-group .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
    background: var(--bg-color, #FFF);
    color: #FFF;
    font-weight: 450;
    font-size: 0.7rem;
    letter-spacing: -0.145px;
    /* text-align: center;
        line-height: 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats .avatar-group .avatar:first-child {
    margin-left: 0;
}

.stats .row-qty {
    padding: 0 32px;
    justify-content: space-between;
    margin-top: 110px;
}

.stats .qty-item .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-item .qty-desc {
    margin-top: 24px;
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ================= Subscription ================== */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    /* Để căn giữa flex-item theo main-axis */
    display: flex;
    align-items: center;
    position: relative;

    /* Đặt height cố định chứ không cho nó tăng theo nội dung chữ bên trong. Vì home-illustration phụ thuộc vào chiều cao của .body này
    Khi chiều cao .body này quá lớn thì bức ảnh không còn dư phần bên ngoài nữa*/
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .body .info {
    /* Đặt width cho info để không cho chữ tràn ra khi nội dung dài */
    width: 671px;
    padding: 0 80px;
}

.subscription .info .sub-title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .info .desc {
    margin-top: 15px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.subscription .info .btn {
    margin-top: 20px;
    min-width: 151px;
    color: #002366;
    font-size: 13px;
    font-weight: 500;
    border-radius: 12px;
    background: #FFF;
}

.subscription .image {
    bottom: 0;
    left: 60%;
    /* right: 221px; */
    position: absolute;
}

/* ======== Footer ========== */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1C1C1D;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    /* Không bị margin-collapase do 18 < 42px */
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7A7A7E;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    width: 257px;
    line-height: 1.75;
}

.footer .social {
    margin-top: 40px;
    display: flex;
    width: 117px;
    gap: 17px;
}

.footer .social-link {
    /* Căn giữa biểu tượng ở chính giữa */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;
    background: #F9F9F9;
}

.footer .social-link:hover {
    background: #ebebeb;
    border-radius: 3px;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .copyright {
    color: #C2C2C2;
    font-size: 1.4rem;
    font-weight: 400;
}